Repository googleapis/python-automl, pull requests merged in 2020-12, with the labels that each got.

#93 feat: add support for common resource paths and expose the client transport
  .coveragerc
  .github/snippet-bot.yml
  .kokoro/docs/common.cfg
  .kokoro/populate-secrets.sh
  .kokoro/release/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/automl_v1/types.rst
  docs/automl_v1beta1/types.rst
  docs/conf.py
  google/cloud/automl_v1/__init__.py
  google/cloud/automl_v1/services/auto_ml/async_client.py
  google/cloud/automl_v1/services/auto_ml/client.py
  google/cloud/automl_v1/services/auto_ml/transports/base.py
  google/cloud/automl_v1/services/auto_ml/transports/grpc.py
  google/cloud/automl_v1/services/auto_ml/transports/grpc_asyncio.py
  google/cloud/automl_v1/services/prediction_service/async_client.py
  google/cloud/automl_v1/services/prediction_service/client.py
  google/cloud/automl_v1/services/prediction_service/transports/grpc.py
  google/cloud/automl_v1/services/prediction_service/transports/grpc_asyncio.py
  google/cloud/automl_v1/types/data_items.py
  google/cloud/automl_v1/types/detection.py
  google/cloud/automl_v1/types/geometry.py
  google/cloud/automl_v1beta1/services/auto_ml/async_client.py
  google/cloud/automl_v1beta1/services/auto_ml/client.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/base.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/grpc.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/grpc_asyncio.py
  google/cloud/automl_v1beta1/services/prediction_service/async_client.py
  google/cloud/automl_v1beta1/services/prediction_service/client.py
  google/cloud/automl_v1beta1/services/prediction_service/transports/grpc.py
  google/cloud/automl_v1beta1/services/prediction_service/transports/grpc_asyncio.py
  google/cloud/automl_v1beta1/types/classification.py
  google/cloud/automl_v1beta1/types/data_items.py
  google/cloud/automl_v1beta1/types/data_stats.py
  google/cloud/automl_v1beta1/types/data_types.py
  google/cloud/automl_v1beta1/types/detection.py
  google/cloud/automl_v1beta1/types/geometry.py
  noxfile.py
  samples/beta/noxfile.py
  samples/snippets/noxfile.py
  samples/tables/noxfile.py
  scripts/decrypt-secrets.sh
  scripts/fixup_automl_v1_keywords.py
  scripts/fixup_automl_v1beta1_keywords.py
  synth.metadata
  tests/unit/gapic/automl_v1/test_auto_ml.py
  tests/unit/gapic/automl_v1/test_prediction_service.py
  tests/unit/gapic/automl_v1beta1/test_auto_ml.py
  tests/unit/gapic/automl_v1beta1/test_prediction_service.py
Labels: api: automl, cla: yes, context: partial

#104 chore: re-order modules in __init__.py
  google/cloud/automl_v1beta1/__init__.py
  synth.metadata
Labels: api: automl, cla: yes, context: partial

#110 fix: Pass the 'params' parameter to the underlying 'BatchPredictReque…
  google/cloud/automl_v1beta1/services/tables/tables_client.py
  tests/unit/test_tables_client_v1beta1.py
Labels: api: automl, cla: yes

#113 chore: refactor translation automl test
  samples/snippets/dataset_test.py
Labels: api: automl, automerge, cla: yes

#108 fix: remove gRPC send/recv limits; add enums to `types/__init__.py`
  google/cloud/automl_v1/services/auto_ml/transports/__init__.py
  google/cloud/automl_v1/services/auto_ml/transports/grpc.py
  google/cloud/automl_v1/services/auto_ml/transports/grpc_asyncio.py
  google/cloud/automl_v1/services/prediction_service/transports/__init__.py
  google/cloud/automl_v1/services/prediction_service/transports/grpc.py
  google/cloud/automl_v1/services/prediction_service/transports/grpc_asyncio.py
  google/cloud/automl_v1/types/__init__.py
  google/cloud/automl_v1beta1/__init__.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/__init__.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/grpc.py
  google/cloud/automl_v1beta1/services/auto_ml/transports/grpc_asyncio.py
  google/cloud/automl_v1beta1/services/prediction_service/transports/__init__.py
  google/cloud/automl_v1beta1/services/prediction_service/transports/grpc.py
  google/cloud/automl_v1beta1/services/prediction_service/transports/grpc_asyncio.py
  google/cloud/automl_v1beta1/types/__init__.py
  synth.metadata
  tests/unit/gapic/automl_v1/test_auto_ml.py
  tests/unit/gapic/automl_v1/test_prediction_service.py
  tests/unit/gapic/automl_v1beta1/test_auto_ml.py
  tests/unit/gapic/automl_v1beta1/test_prediction_service.py
Labels: api: automl, cla: yes, context: partial

#115 chore: update templates
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  docs/conf.py
  google/cloud/automl_v1beta1/__init__.py
  noxfile.py
  samples/beta/noxfile.py
  samples/snippets/noxfile.py
  samples/tables/noxfile.py
  synth.metadata
Labels: api: automl, cla: yes, context: partial

#116 chore: reorder classes
  google/cloud/automl_v1/__init__.py
  synth.metadata
Labels: api: automl, cla: yes, context: none
