Repository googleapis/python-automl, pull requests merged in 2020-09, with the labels that each got.

#18 fix: `update_column_spec` typo in TablesClient docstring
  google/cloud/automl_v1beta1/tables/tables_client.py
Labels: api: automl, automerge, cla: yes

#70 docs: fix supported Python versions in README
  README.rst
Labels: automerge, cla: yes

#71 samples: migrate vision automl samples
  samples/beta/automl_vision_create_model_test.py
  samples/beta/automl_vision_model.py
  samples/vision_edge/edge_container_predict/Dockerfile
  samples/vision_edge/edge_container_predict/README.md
  samples/vision_edge/edge_container_predict/automl_vision_edge_container_predict.py
  samples/vision_edge/edge_container_predict/automl_vision_edge_container_predict_test.py
  samples/vision_edge/edge_container_predict/cloudbuild.yaml
  samples/vision_edge/edge_container_predict/test.jpg
  samples/vision_edge/resources/test.png
Labels: api: automl, cla: yes, samples

#79 samples: tests refactored due to overwhelmed resources
  samples/beta/requirements.txt
  samples/beta/video_classification_create_model_test.py
  samples/beta/video_object_tracking_create_model_test.py
  samples/snippets/language_sentiment_analysis_create_model_test.py
  samples/snippets/language_text_classification_create_model_test.py
  samples/snippets/requirements.txt
  samples/snippets/translate_create_model_test.py
  samples/snippets/vision_classification_create_model_test.py
  samples/snippets/vision_object_detection_create_model_test.py
Labels: api: automl, cla: yes, samples

#80 chore: add default CODEOWNERS
  .github/CODEOWNERS
Labels: api: automl, automerge, cla: yes
