Repository googleapis/python-automl, pull requests merged in 2021-03, with the labels that each got.

#131 bug: missing preprocessing examples for automl edge models
  samples/vision_edge/edge_container_predict/automl_vision_edge_container_predict.py
Labels: api: automl, automerge, cla: yes

#129 chore: remove unneeded Translation and NL references
  samples/beta/delete_dataset_test.py
  samples/beta/delete_model_test.py
  samples/beta/import_dataset_test.py
  samples/snippets/automl_translation_dataset.py
  samples/snippets/automl_translation_model.py
  samples/snippets/dataset_test.py
  samples/snippets/model_test.py
Labels: api: automl, cla: yes

#101 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: automl, cla: yes, samples
